@model IEnumerable<Temperature_Recording.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fullnames
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            User Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.UserTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsersID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsersID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsersID })
        </td>
    </tr>
}

</table>
